doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    if isDevelopment
      link(rel="stylesheet" href="/main.css")
    else
      != stylesheetTag("main.css")
  body
    #main
  script.
    window.FILES_API_HOST = !{JSON.stringify(filesApiHost)};
    window.SOCKET_HOST = !{JSON.stringify(socketHost)};
    window.REQUEST_SOCKET_HOST = !{JSON.stringify(requestSocketHost)};
    window.COMMIT = !{JSON.stringify(commit)};
    window.ID_FIELD = !{JSON.stringify(idField)};
    window.EXPORTER_GROUP = !{JSON.stringify(exporterGroup)};
    window.OC_GROUP = !{JSON.stringify(ocGroup)};
    window.REPORTS_GROUP = !{JSON.stringify(reportsGroup)};
    window.EXPORTER_MODE = !{JSON.stringify(exporterMode)};
    window.CODE_EXPORT_ENABLED = !{JSON.stringify(codeExportEnabled)}
    window.REPOSITORY_HOST = !{JSON.stringify(repositoryHost)}
    window.ZONE = !{JSON.stringify(zone)};
    window.HELP_URL = !{JSON.stringify(helpURL)};

  if isDevelopment
    script(src="/main.js")
  else
    != javascriptTag("main.js")
